@page
@model ObligatorioParteII.Pages.ChoferesPag.ChoferesModel
@{
    ViewData["Title"] = "Lista de choferes";
   
}



<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-dark">Listado de choferes</h2>
            </div>
            <div class="col-sm-6">
                <a asp-page="Crear" class="btn btn-success ">Agregar </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
        @if (Model.Choferes.Count() > 0)
        {
            <br /><br />
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Cédula de identidad
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Edad
                    </th>
                    <th> 
                        Vehículo
                    </th>
                    <th>
                    </th>
                        <!-- Hasta aquí es la parte superior de la tabla, donde se nombran las columnas-->
                </tr>
                @foreach (var item in Model.Choferes)
                {
                    <tr class="table-secondary">
                        <td>
                            @Html.DisplayFor(m => item.CI)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Edad)
                        </td>
                            <td>
                                @Html.DisplayFor(m => item.Vehiculo)
                            </td>
                            <!-- Aquí se nombran cada uno de las instancias creadas de los choferes y se muestran sus datos-->
                        <td>
                                <a asp-route-ci="@item.CI" asp-page="Editar" class="btn btn-warning btn-sm">Modificar</a>
                            <button asp-page-handler="Borrar" asp-route-ci="@item.CI"
                                        onclick="return confirm('¿Está seguro que desea eliminar los datos?')" class="btn btn-danger btn-sm">
                                    Eliminar
                                </button>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No hay Choferes registrados.</p>
        }
        </form>
      
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Encabezado del Modal -->
                <div class="modal-header">
                    <h4 class="modal-title"> ⚠ ALERTA ⚠ </h4>
                </div>

                <!-- Contenido del Modal -->
                <div class="modal-body">
                    <p>@Model.Notificacion.Mensaje</p>
                </div>

                <!-- Pie del Modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    @{

        if (Model.Notificacion.Estado)
        {
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

           
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

            <script>

                $('#myModal').modal('show');
            </script>
            Model.Notificacion.Estado = false;
        }
    }


</div>

